{% load static %}

<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light"> 
            <a href="{% url 'home' %}" class="navbar-brand p-0">
                <h4 class="text-primary mb-0"><i class="fab fa-slack me-2"></i>ProductReview NG</h4>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto ">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'aboutus' %}" class="nav-item nav-link ">About Us</a>
                    <a href="{% url 'terms' %}" class="nav-item nav-link">Terms of Use</a>
                    <a href="/contact-us" class="nav-item nav-link">Contact</a>
                    <hr>
                </div>
                <div class="navbar-nav mx-0 d-lg-none">
                    <b class="text-dark p-3">{{user.username}}</b>
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'submissions' %}">Submissions</a>
                    <a class="nav-item nav-link" href="/logout" style="color:red">Logout</a>
                    <hr>
                </div>
                <div class="navbar-nav mx-0 d-lg-none">
                    {% if user.is_authenticated %}
                        <a href="{% url 'review' %}" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0"> Write a Review</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-dark rounded-pill py-2 px-4 ms-3 flex-shrink-0">Sign Up</a>
                    {% endif %}
                    <hr>
                </div>
            
                <div class="d-none d-lg-flex flex-shrink-0 ps-4">
                    <button class="btn-search btn btn-primary btn-md-square rounded-circle flex-shrink-0" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
                    <a href="{% url 'review' %}" class="btn btn-primary rounded-pill py-2 px-4 ms-3 flex-shrink-0"> Write a Review</a>
        
                    {% if user.is_authenticated %}
                        <div class="dropdown ms-3">
                            <button class="btn btn-dark rounded-pill py-2 px-4 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'submissions' %}">My Submissions</a>
                                <a class="dropdown-item" href="/logout" style="color:red">Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'signup' %}" class="btn btn-dark rounded-pill py-2 px-4 ms-3 flex-shrink-0">Sign Up</a>
                    {% endif %}
                </div>
            </div>
            
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="GET" action="{% url 'search' %}">
                <div class="modal-body d-flex align-items-center bg-primary">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" name="query" placeholder="keywords" aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
          </form>
        </div>
    </div>
</div>
<!-- Modal Search End -->