{% extends 'main.html' %}
{% load static %}

{% block header%}

<!-- SignUp Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="row g-5">

            <div class="card py-4 wow fadeInRight" data-wow-delay="0.4s">
                <div class="text-center">
                    <h4 class="text-primary">Reset Link Sent</h4>
                    <p class="text-dark mt-3">A reset link has been sent to your email. Please be aware that the link expires in <span class="text-danger">30 mins</span>!</p>

                </div>
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}