{% extends 'main.html' %}
{% load static %}


{% block header%}

 <!-- Header Start -->
 <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Privacy Policy</h4>    
    </div>
</div>
<!-- Header End -->

<div class="container-fluid bg-light mt-0 mb-4">
    <div class="container py-5"></div>
        <div class="card">
            <div class="border-under">
                <h2> Protecting your privacy</h2>
                <p> ProductReview.com.ng Limited ("ProductReview", "we", "our", "us") is committed to protecting your privacy. 
                    We are bound by the Privacy Act 1988 (Cth) (“Privacy Act”), which sets out a number of principles concerning the protection of your personal 
                    information known as the Australian Privacy Principles.
                </p>

                <p> privacy statement sets out the type of information we collect, how we use it and who we may share it with. It may be 
                    amended from time to time and a current version is available on this page.
                </p>
            </div>

            <div class="border-under">
                <h2> What personal information do we collect?</h2>
                <p> When you use ProductReview via our website and participate in our surveys or forms, we may collect personal information about you. This information can include but is not limited to your name, address, phone number, and email address.
                </p>

                <p> We only collect personal or private information necessary for any of our functions or activities.
                </p>
            </div>

            <div class="border-under">
                <h2> Using personal information</h2>
                <p> The primary purpose for which we collect information about you is to enable us to perform our business activities and functions and to provide best possible quality of customer service. We collect, hold and use your personal information for the following primary purposes:
                </p>

                <p>
                    <ul>
                        <li>to provide products and services to you</li>
                        <li>to provide quotes to you for services you have enquired about</li>
                        <li>to provide you with news, information or advice about our existing and new products and services</li>
                        <li>to communicate with you including by email or phone</li>
                        <li>to provide promotional materials or direct marketing campaigns relevant to the services we offer</li>
                        <li>to verify your identity</li>
                        <li>to manage and enhance our products and services</li>
                        <li>to personalise and customise your experience</li>
                        <li>to provide you with access to protected areas of ProductReview</li>
                    </ul>
                </p>
            </div>

            <div class="border-under">
                <h2> Registration</h2>
                <p> If you wish to submit a review, comment, question, or report certain content you must register on ProductReview to create a user account. All information you provide when registering user account including your name, address, email address, mobile number or other details can be viewed, modified or deleted at any time by accessing your member area.
                    Registered users who wish to close their account should read the instructions in our help centre, given the nature of our site it may be impossible to remove all your content and some residual information may remain on the site.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock%}