{% extends 'main.html' %}
{% load static %}


{% block header%}

 <!-- Header Start -->
 <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Terms of Use</h4>    
    </div>
</div>
<!-- Header End -->

<div class="container-fluid bg-light mt-0 mb-4">
    <div class="container py-5"></div>
        <div class="card mx-5">
            <div class="border-under">
                <h2> General</h2>
                <p> Users of ProductReview.com.ng (the Site), agree to be bound by these Terms and Conditions and any other notices and guidelines which appear on the Site, which are subject to change without notice, from time to time in our sole discretion.
                    Your use of and access to the Site indicates your acceptance of these Terms and Conditions, as they exist at that time.
                </p>

                <p> 
                    <ul>
                        <li>Break our Posting Guidelines when posting reviews, comments, question and answers.</li>
                        <li>Create more than one account on ProductReview.com.ng</li>
                        <li>Re-establish an account on ProductReview.com.ng after your account has been terminated.</li>
                        <li>Violate the intellectual property rights of a third party.</li>
                        <li>Use any automated means to access the Site or collect any information from the Site.</li>
                        <li>Modify or create variant versions of ProductReview.com.ng's logos or other trademarks.</li>
                        <li>Customise ProductReview.com.ng in a way that adversely affects the display of any advertising or promotional links on the Site.</li>
                    </ul>
                </p>
                <p> We have the right to take any of the following actions in our sole discretion at any time and for any reason without giving you any prior notice:
                </p>
                <p>
                    <ul>
                        <li>Restrict, suspend, or terminate your access to all or any part of ProductReview.com.ng</li>
                        <li>Change, suspend, or discontinue all or any part of the Site.</li>
                        <li>Reject, move, or remove any material that you submit to the Site for any reason.</li>
                    </ul>
                </p>
            </div>

            <div class="border-under">
                <h2> Copyright</h2>
                <p> 
                    <ul>
                        <li>With the exception of company trademarks, all material contained on ProductReview.com.ng, including, text, design, graphics, applications, software, underlying source code and the selection of arrangements is the copyright of ProductReview.com.ng.</li>
                        <li>In accessing the web pages on the Site, you agree that any downloading of material is for personal, non-commercial use only. No part of the Site may be reproduced or transmitted in any form or by any means, electronic, mechanical, photocopying, recording or otherwise, without prior permission of ProductReview.com.ng </li>
                        <li>It is permissible to send the URL of the Site to a third party, so that they can view the material in its context.</li>
                        <li>You hereby warrant that all intellectual property rights that you may have in the Content, have been voluntarily waived by you and you agree not to assert any intellectual property rights in the Content.</li>
                    </ul>
                </p>
            </div>

            <div class="border-under">
                <h2> Using personal information</h2>
                <p> The primary purpose for which we collect information about you is to enable us to perform our business activities and functions and to provide best possible quality of customer service. We collect, hold and use your personal information for the following primary purposes:
                </p>

                <p>
                    <ul>
                        <li>to provide products and services to you</li>
                        <li>to provide quotes to you for services you have enquired about</li>
                        <li>to provide you with news, information or advice about our existing and new products and services</li>
                        <li>to communicate with you including by email or phone</li>
                        <li>to provide promotional materials or direct marketing campaigns relevant to the services we offer</li>
                        <li>to verify your identity</li>
                        <li>to manage and enhance our products and services</li>
                        <li>to personalise and customise your experience</li>
                        <li>to provide you with access to protected areas of ProductReview</li>
                    </ul>
                </p>
            </div>

            <div class="border-under">
                <h2> Registration</h2>
                <p> If you wish to submit a review, comment, question, or report certain content you must register on ProductReview to create a user account. All information you provide when registering user account including your name, address, email address, mobile number or other details can be viewed, modified or deleted at any time by accessing your member area.
                    Registered users who wish to close their account should read the instructions in our help centre, given the nature of our site it may be impossible to remove all your content and some residual information may remain on the site.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock%}